<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class="login-input">
                <label class="style-input">
                    <input type="text" placeholder="Email" ng-model="user.email">
                </label>
                <label class="style-input">
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
            </div>
            <button class="login-button" ng-click="login()">Login
            </button>
        </section>
    </ion-content>
</ion-view>